<h2>
  <%= w session.title  %>
</h2>
<h3>
  <%= w session.sub_title  %>
</h3>

<div> 
  by <%= session_presenter_names(session) %> 
<hr />
</div>


<h4>Short:</h4>
<div class="outlined"> 
  <%= wikinize(  session.short_description )  %>
</div>


