<div >
  <div> <%= f.label :session_goal %>: <i> what do you expect participants to get out of this session?</i> </div>
  <div> <%= text_area :session, :session_goal, :cols => "100", :rows => "1"  %> </div>
</div>
