
<%= render :partial => 'form', :locals => { :session => "@session", :editable_presenters=> "true" }   %>

<div class="full"> 
  <%= link_to 'Show', @session %> |
  <%= link_to 'Back', sessions_path %>
</div>
