<%= title "Thank you" %>

<h2>Your session proposal "<%= @session.title %>" has been submitted</h2>

<p>Thank you for submitting your session '<%= @session.title %>'.</p>

<p>
You are invited now to take part in our reviewing process where you review other session proposals, 
and others will review yours.
</p>

<p>Go checkout your mail box and log on to review sessions!</p>

<p> <a href="mailto:sessions@xpday.net">The XPDay Benelux Team</a>. </p> 
