<%= title "Thank you" %>

<h2>Your session proposal "<%= @session.title %>" has been submitted</h2>

<p>
We would like you to add more detailed info on your own session proposal, 
and to improve it when you receive feedback. 
</p>
<p>
You are invited now to take part in our reviewing process where you review other session proposals, 
and others will review yours.
</p>

<p>Go checkout your mail box and log on to join us! </p>

<p>If you have any problem or question, send us an <a href="mailto:sessions@xpday.net">email</a>. </p> 

<p>The XPDay Benelux Team. </p> 

