


<div class="lessoutlined ">
  <%= wikinize( comment.body ) %>
</div>


<div class="alignright">
  Comment Created: <%= l comment.created_at %> -- 
  Modified: <%= l comment.updated_at %>  
  by <%= link_to comment.presenter.name, comment.presenter %>
</div>

