<div>


<% if !@program.program_entries.nil? && !@program.program_entries.empty? %> 
<table class="ProgramMatrix">
  <% @program.eachSlot do |slot|
    no_more_columns_on_this_row = false
  %>
    <tr>
      <% @program.eachTrack do |track|
           program_entry = @program.entry(slot,track) %>
        <% if no_more_columns_on_this_row %>  
        <% else %> 
          <%= render 'program_entries/show_in_program_matrix_export.html.erb', :program_entry => program_entry, :program => @program, :slot => slot, :track => track  %>
          <% no_more_columns_on_this_row |= (!program_entry.nil? && program_entry.span_entire_row) %>
        <% end %> 
      <% end %>
    </tr>
  <% end %>
</table>

<% end %> 

</div>

