

<%= render 'programs/program_matrix', :program => @program, :editable => false %>

<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>


<br>
<br>
<table border="1">
<tr><td class="propertyname">Legend</td></tr>
<tr><td class="technology">Technology and Technique</td></tr>
<tr><td class="team">Team and Individual</td></tr>
<tr><td class="process">Process and Improvement</td></tr>
<tr><td class="customer">Customer and Planning</td></tr>
<tr><td class="cases">Intro's and Cases</td></tr>
</table>
