
<h1> Program Version: <%= @program.version %> </h1>

<%= render 'programs/program_matrix', :program => @program, :editable => false %>

<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>

