Your account has been reset,

Use the link below to login and set your password again.

= account_response_session_url(@account.authentication_token)

You can copy the link in your browser if you can't click the link.
