<h3><%= @greeting %></h3>

<p>Thank you for submitting <strong><%= @session.title %></strong></p>

<p>
You are invited now to take part in our reviewing process where you review other session proposals, 
and others will review yours.
We would like you to add more detailed info on your own session proposal, 
and to improve it when you receive feedback. 
</p>

<p>Please <%= link_to "login", account_response_session_url(@login_guid) %> and join us in giving the wonderful gift of feedback</p>

<p>If you have any problem or question, send us an <a href="mailto:sessions@xpday.net">email</a>. </p> 

<p>Cheers,</p>

<p>The XPDay Benelux Team. </p> 

