
<h2>formatting</h2>

<p>
You can use these techniques to get some simple formatting:
</p>

<h4>Paragraphs</h4>
<p>
<div class="outlined">
newline starts a new line.  <br>2 newlines start a new paragraph </li>
</div>
</p>

<p>
<h4>Emphasized text</h4>
<div class="outlined">
<p> *<b>bold</b>* and </p>
<p> _<i>italic</i>_  </p>
</div>
</p>

<p>
<h4>Bulleted list</h4>
<div class="outlined">
<pre>
* this is a list
* of things 
* and other things 
</pre>
</div>

will result in 

<div class="outlined">
<ul>
<li> this is a list </li>
<li> of things  </li>
<li> and other things  </li>
</ul>
</div>
</p>
