<h2>How does it work?</h2>
<p>To get high quality sessions from new and seasoned presenters alike, we apply an iterative, incremental and collaborative method from session idea to session delivery at the conference. The process consists of the following steps:
<ol>
  <li>You have an idea, a problem or an interesting experience you'd like to share. Check our <a href="http://www.xpday.net/Xpday2015/XPDays/CallforSessions.html" target="_blank">Call for sessions</a> or the <a href="http://www.xpday.net/Xpday2014/XPDays/Feedback.html" target="_blank">feedback from last year</a> and from <a href="http://www.xpday.net/Xpday2015/Mini%20XPDay/Feedback.html" target="_blank">this year's Mini XP Day</a> to see what XP Days participants like.</li>
  <li><a href="/sessions/new">Create a Session Proposal</a>. You just need a title and a short description.</li>
  <li>Fill in details for your session as you get new ideas and feedback from other participants and the organizers.</li>
  <li>In return, help other participants improve their session. We use the <a href="#PerfectionGame">Perfection Game</a> to give clear, constructive feedback.</li>
  <li>Contact the organizers if you're looking for or offering coaching to new presenters</li>
  <li>After two months, you can no longer submit sessions but you can continue to improve existing proposals.</li>
  <li>Just before the program committee meets, you can choose the sessions you'd like to see in the program.</li>
  <li>In end August, the program committee composes the program based on your preferences, balance of session subjects and session types and some constraints (for instance, a presenter can't have two sessions in one day).</li>
  <li>We contact presenters to inform them of the acceptance and rejection of their proposals and to confirm their availability</li>
  <li>From early September on, we publish and fill in the program as presenters confirm their participation.</li>
  <li>You can continue to improve your session and session description until two weeks before the conference. We recommend you perform as many tryouts of your session as possible. We will provide tryouts opportunities with the <a href="http://www.meetup.com/Agile-Belgium/" target="_blank">Agile Belgium</a> and <a href="http://www.meetup.com/agileholland/" target="_blank">Agile Holland</a> communities.</li>
</ol>
</p>

<h3>Timeline</h3>

<table class="table table-striped table-bordered">
<tr><th>Date</th><th>What happens?</th><th>Status</th></tr>
<tr class="success"><td>17/05</td><td>Submit session ideas, improve them and provide feedback to others</td><td>DONE</td></tr>
<tr><td>05/07</td><td>End of submissions. You can continue to improve existing proposals</td><td>BUSY</td></tr>
<tr><td>10/08</td><td>You select the sessions you want to see in the program</td><td>&nbsp;</td></tr>
<tr><td>end of August</td><td>The XP Days program committee creates the program based on your preferences and contacts presenters to announce accepted and rejected sessions</td><td>&nbsp;</td></tr>
<tr><td>early September</td><td>Program published</td><td>&nbsp;</td></tr>
<tr><td>until the conference</td><td>Keep improving your session, give feedback run tryouts of your session, work with the organizers to prepare for the conference</td><td>&nbsp;</td></tr>
</table>


<a name="ReviewCriteria"> <h2>Session review criteria</h2></a>
<p>
We intend to create an attractive program with high quality sessions. Keep in mind the following review criteria and remember that the best way to get to a high quality session is by trying it out and improving based on real feedback.
</p>

<ul>
  <li>Who will be interested in this topic? Would <i>you</i> go to this session?  </li>
  <li>Is the description clear and inviting? Will it attract its intended audience?  </li>
  <li>What prior knowledge is expected of participants?  </li>
  <li>What value will this session bring to participants and organizers?  </li>
</ul>
<ul>
  <li>Why is this subject relevant to agile & beyond?  </li>
  <li>How does this session fit the conference?  </li>
  <li>What's innovative and unusual about the session? topic, format, ...</li>
  <li>Does the session also address why things (don't) work, and not just 'what' and 'how'?  </li>
</ul>

<ul>
  <li>What is the goal of the session?  </li>
  <li>Is the session structured in such a way that its objectives can be reached?  </li>
  <li>Is the timetable realistic?  </li>
</ul>

<ul>
  <li>How does the session format facilitate learning?  </li>
  <li>What are the expected results and outputs? Can these be communicated to people who were not at the session?  </li>
</ul>

<p>We strive to make the process open and transparent, by involving the community in the process. There's however no such thing as a completely objective selection process. As a program committee, we will also apply a number of global criteria:
</p>

<ul>
  <li>diversity of presenters; balance between experienced and new presenters; presenters from different countries </li>
  <li>diversity of session formats </li>
  <li>diversity of topics: hands on technical stuff, process related, management, coaching...  </li>
  <li>balance between real world experiences, tools & techniques, innovative ideas </li>
  <li>a maximum of 2 sessions per presenter and no more than 1 session per presenter per day </li>
</ul>

<a name="PerfectionGame"> <h2>Perfection Game</h2> </a>
<p>The Perfection Game is a way to give constructive feedback whenever you want to improve something. It was developed by Jim & Michele McCarthy as part of their <a href="http://www.mccarthyshow.com/LearnForFree/TheCoreProtocolsOnline/tabid/103/Default.aspx">Core Protocols</a>. It works as follows:
</p>

<ol>
  <li>Someone presents their work (e.g. a session proposal) and asks for feedback </li>
  <li>You rate the work on a scale of 1 to 10, based on how much value you can add:<br/>
I will for example give a 9 out of 10 if I see little value that can be added, a 5 out of 10 if I can double the value of the work, and 1 out of 10 if I can make the work worth 10 times more valuable.  </li>
  <li>Explain what you liked about it: what justifies the score? What should be kept?  </li>
  <li>Explain what you would do to make the work perfect: What concrete actions should be taken to make it a 10 out of 10?  </li>
</ol>


<p>When you give feedback
</p>

<ul>
  <li>Think deeply when you explain how to make a work perfect. It's tempting to make negative remarks, yet make them look positive </li>
  <li>Explain your reasoning - e.g. "I would do X because of Y" </li>
  <li>Don't skimp on the "What I liked section"; the good parts should be kept and reinforced </li>
  <li>Make sure that your score reflects the contribution you think you can make </li>
  <li>Follow up and give updated feedback when the session proposal has been changed. Iteration leads to perfection.  </li>
</ul>

<p>When you receive feedback
</p>

<ul>
  <li>Thank the person giving the feedback </li>
  <li>Don't argue with the person giving feedback, but ask questions to clarify the input </li>
  <li>You are responsible for the quality of the work, you decide if you apply the feedback you received </li>
</ul>

