
<h2>Session review process</h2>

<p>
We apply an open, transparent, iterative session review, improvement and selection process. It consists of the following phases:
</p>

<h3> Sending in a proposal:</h3> 
<p>Send in your proposal(s) providing proposal details as mentioned.  
</p>

<h3> Open, interactive reviews and feedback</h3> 
<p>Help other presenters develop their proposals, based on peer to peer feedback. Proposals are put on the wiki. You can give feedback on other people's proposals and improve your proposal based on the feedback you receive. The objective of this phase is to come to a set of quality session proposals in a transparent, community driven way.
</p>
<ul>
  <li>use the <a href="#PerfectionGame">PerfectionGame</a> as the basic protocol for review & feedback </li>
  <li>if you like, ask for a coach to help you develop your session </li>
  <li>if you really want to develop your session in an agile way, do one or more trial runs during this phase, to develop your session idea based on concrete results </li>
  <li>when you propose a session, we ask you to give feedback on other people's proposals </li>
</ul>

<h3> Session selection </h3> 
<p>We will ask for input from the community to vote for the sessions they would like to have in the conference. The program committee takes this information into the program meeting to compose a balanced program that fulfills the conference objectives. The objective of this phase is to get a program that fits in two days, which is supported by the community and which has added value for the community.
</p>

<h3> Session preparation</h3> 
<p>We can provide coaching for presenters, to help create an even better session. For new sessions, we strongly recommend doing one or more try-outs. The Dutch and Belgian agile communities will provide opportunities to do try outs. (and don't forget to prepare your OHMP - official half minute presentation).
</p>

<a name="ReviewCriteria"> <h2>Session review criteria</h2></a>
<p>
We want to build an attractive program with high quality sessions. Keep in mind the following review criteria and remember that the best way to get to a quality session is in our experience by actually trying it out and improving using real feedback. We expect you to do one or more trial runs of your session before the conference. We will help you by providing guidance and creating community based opportunities for try-outs, both during the session feedback process and after session acceptance.
</p>

<p>Useful questions to keep in mind when writing and reviewing session proposals, are:
</p>

<ul>
  <li>Who will be interested in this topic? Would you go to this session?  </li>
  <li>Is the session description clear and inviting? Will it attracted its intended audience?  </li>
  <li>What prior knowledge is expected of participants?  </li>
  <li>What value will this session bring to its participants and organizers?  </li>
</ul>
<ul>
  <li>Why is this subject relevant to agile & beyond?  </li>
  <li>How does this session fit the conference?  </li>
  <li>What's innovative and unusual about the session, the topic, the format, ...?  </li>
  <li>Does the session also address why things (don't) work as they do and not just 'what' and 'how'?  </li>
</ul>

<ul>
  <li>What is the goal of the session?  </li>
  <li>Is the session structured in such a way that the goal of the session can be reached?  </li>
  <li>Is the timetable realistic?  </li>
</ul>

<ul>
  <li>How does the session format facilitate learning?  </li>
  <li>What are the expected results and outputs of the session? Can these be communicated to people who were not at the session?  </li>
</ul>


<p>We strive to make the process open and transparent and involve the community in the process. There's however no such thing as a completely objective selection process. We can state criteria for sessions to be acceptable, but acceptance depends on more than that alone, like ensuring a balanced program suitable for the audience. We apply a number of global criteria for this purpose:
</p>

<ul>
  <li>balance between experienced presenters and people new to presenting at conferences </li>
  <li>diversity of presenters; mix of new and experienced presenters </li>
  <li>balanced mix of beginners and advanced sessions; presenters from different countries </li>
  <li>diversity of topics, covering technical stuff, process, management,...  </li>
  <li>balance between real world experiences, tools/techniques, innovative ideas </li>
  <li>max. 2 sessions per presenter, max. 1 session per presenter per day </li>
</ul>

<a name="PerfectionGame"> <h2>Perfection Game</h2> </a>
<p>The Perfection Game is a way to give constructive feedback whenever you want to improve something. It was developed by Jim & Michele McCarthy as part of their <a hrev="http://www.mccarthyshow.com/LearnForFree/TheCoreProtocolsOnline/tabid/103/Default.aspx">"Core Protocols"</a>
</p>

<p>The steps are as follows:
</p>

<ol>
  <li>Someone presents their work (their session proposal) and asks for feedback </li>
  <li>You give the work a score out of 10, based on how much value you can add. E.g. I will give a 9/10 if I can add little value, a 5/10 if I can double the value of the work and 1/10 if I can make the work worth 10 times more than current.  </li>
  <li>Explain what you liked about it. What justifies the score. What should be kept?  </li>
  <li>Explain what you would do to make the work perfect. What concrete actions should be taken to increase the score?  </li>
</ol>


<p>When you give feedback
</p>


<ul>
  <li>Think deeply when you explain how to make a work perfect. It's tempting to make negative remarks, yet make them look positive </li>
  <li>Explain your reasoning. E.g. "I would do X because of Y" </li>
  <li>Don't skimp on the "What I liked section" so that the good parts are kept and reinforced </li>
  <li>Make sure that your score reflects the contribution you think you can make </li>
  <li>Follow up and give updated feedback when the work has been changed. Iteration leads to perfection.  </li>
</ul>

<p>When you receive feedback
</p>


<ul>
  <li>Thank the person giving the feedback </li>
  <li>Ask questions to clarify the input </li>
  <li>Don't argue with the person giving feedback </li>
  <li>You are responsible for the quality of the work, you decide if you apply the feedback you received </li>
</ul>

