
<h2>Session review process</h2>

<p>
We apply an open, transparent, iterative session review, improvement and selection process. It consists of the following phases:
</p>

<h3>Sending in a proposal</h3> 
<p>Add in your proposal(s) using the link in the menu, providing details as mentioned. It does not have to be complete yet - you can work out the details later on.
</p>

<h3>Open, interactive reviews and feedback</h3> 
<p>Help other presenters develop their proposals, based on peer to peer feedback. You can give feedback on other people's proposals and improve your proposal based on the feedback you receive. In this way, we will come to a set of quality session proposals in a transparent, community driven way.
</p>
<ul>
  <li>use the <a href="#PerfectionGame">Perfection Game</a> for giving feedback </li>
  <li>if you like, ask for a coach to help you develop your session </li>
  <li>you can already do one or more trial runs during this phase, to develop your session idea based on concrete results </li>
  <li>when you propose a session, we ask you to give feedback on other people's proposals </li>
</ul>

<h3>Session selection </h3> 
<p>We will ask for input from the community to vote for the sessions they would like to have in the conference. The program committee uses this information to compose a balanced program that fulfills the conference objectives, fits in two days, and is supported by the community.
</p>

<h3> Session preparation</h3> 
<p>We can provide coaching for presenters, to help create an even better session. Do one or more try-outs, especially for new sessions. The Dutch and Belgian agile communities will provide try out opportunities (and don't forget to prepare your OHMP - the Official Half Minute Presentation).
</p>

<a name="ReviewCriteria"> <h2>Session review criteria</h2></a>
<p>
We intend to create an attractive program with high quality sessions. Keep in mind the following review criteria and remember that the best way to get to a high quality session is by trying it out and improving based on real feedback.
</p>

<ul>
  <li>Who will be interested in this topic? Would <i>you</i> go to this session?  </li>
  <li>Is the description clear and inviting? Will it attract its intended audience?  </li>
  <li>What prior knowledge is expected of participants?  </li>
  <li>What value will this session bring to participants and organizers?  </li>
</ul>
<ul>
  <li>Why is this subject relevant to agile & beyond?  </li>
  <li>How does this session fit the conference?  </li>
  <li>What's innovative and unusual about the session? topic, format, ...</li>
  <li>Does the session also address why things (don't) work, and not just 'what' and 'how'?  </li>
</ul>

<ul>
  <li>What is the goal of the session?  </li>
  <li>Is the session structured in such a way that its objectives can be reached?  </li>
  <li>Is the timetable realistic?  </li>
</ul>

<ul>
  <li>How does the session format facilitate learning?  </li>
  <li>What are the expected results and outputs? Can these be communicated to people who were not at the session?  </li>
</ul>

<p>We strive to make the process open and transparent, by involving the community in the process. There's however no such thing as a completely objective selection process. As a program committee, we will also apply a number of global criteria:
</p>

<ul>
  <li>diversity of presenters; balance between experienced and new presenters; presenters from different countries </li>
  <li>balanced mix of beginners and advanced sessions </li>
  <li>diversity of topics: hands on technical stuff, process related, management, coaching...  </li>
  <li>balance between real world experiences, tools & techniques, innovative ideas </li>
  <li>a maximum of 2 sessions per presenter and no more than 1 session per presenter per day </li>
</ul>

<a name="PerfectionGame"> <h2>Perfection Game</h2> </a>
<p>The Perfection Game is a way to give constructive feedback whenever you want to improve something. It was developed by Jim & Michele McCarthy as part of their <a href="http://www.mccarthyshow.com/LearnForFree/TheCoreProtocolsOnline/tabid/103/Default.aspx">Core Protocols</a>. It works as follows:
</p>

<ol>
  <li>Someone presents their work (e.g. a session proposal) and asks for feedback </li>
  <li>You rate the work on a scale of 1 to 10, based on how much value you can add:<br/>
I will for example give a 9 out of 10 if I see little value that can be added, a 5 out of 10 if I can double the value of the work, and 1 out of 10 if I can make the work worth 10 times more valuable.  </li>
  <li>Explain what you liked about it: what justifies the score? What should be kept?  </li>
  <li>Explain what you would do to make the work perfect: What concrete actions should be taken to make it a 10 out of 10?  </li>
</ol>


<p>When you give feedback
</p>

<ul>
  <li>Think deeply when you explain how to make a work perfect. It's tempting to make negative remarks, yet make them look positive </li>
  <li>Explain your reasoning - e.g. "I would do X because of Y" </li>
  <li>Don't skimp on the "What I liked section"; the good parts should be kept and reinforced </li>
  <li>Make sure that your score reflects the contribution you think you can make </li>
  <li>Follow up and give updated feedback when the session proposal has been changed. Iteration leads to perfection.  </li>
</ul>

<p>When you receive feedback
</p>

<ul>
  <li>Thank the person giving the feedback </li>
  <li>Don't argue with the person giving feedback, but ask questions to clarify the input </li>
  <li>You are responsible for the quality of the work, you decide if you apply the feedback you received </li>
</ul>

