/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background-color: beige;
}



table.tablelist {
  border-collapse:collapse;
  border: 2px solid grey;
  text-align: left;
}

td, th {
  border: 1px solid grey;
  padding: 5px;
}

th {
  background-color: lightgrey;
}

.alignright {
  text-align: right;
}

div.full {
  float: left;
  width: 100%;
}

div.right {
  float: right;
  width: 50%;
}

div.left {
  float: left;
  width: 50%;
}

div.outlined {
  border: 2px solid grey;
  background-color: lightgrey;
  margin: 2px;
  padding: 5px;
}

div > i {
  color:brown;
  font-size:smaller;
}

div.review {
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
}

div.comment {
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
}
