/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

body {
  font-family: Sans-serif;
  font: Arial;
  font-size: medium;
}

#header-navigation {
  text-align: right;
  height:50px;
}

#header-navigation img {
  vertical-align:text-top;
  position:absolute;
  left:0px;
}


#main-navigation ul { height: 40px; display: block; list-style-type: none; padding:0;}
#main-navigation ul li { float: left; }
#main-navigation ul li a { 
	display: block; 
	font-size: 123%;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-radius: 3px;
	padding: 6px 17px;
	margin: 9px 3px 0 0;
}
#main-navigation ul li a:hover { 
	display: block;
	background: lightGrey;
}
#main-navigation ul li a.active {
	background: Grey;
  color: #fff;
}

#notice {
  color: #0f0;
}

#alert {
  font-weight:bold;
  color: #f00;
}

#error_explanation {
  color: #f00;
}

a {
	text-decoration: none;
  color:#0088cc;
}
a:hover { 
  color:seagreen;
	background: lightGrey;
}

table.tablelist {
  border-collapse:collapse;
  border: 2px solid lavender;
  text-align: left;
}

.tablelist th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.tablelist th .asc {
  background-image: url(/assets/up_arrow.gif);
}

.tablelist th .desc {
  background-image: url(/assets/down_arrow.gif);
}

table.propertytable {
  border-collapse:collapse;
  border: 2px solid lavender;
  text-align: left;
  width: 100%;
}

td, th {
  border: 1px solid lavender;
  padding: 5px;
}

th {
  background-color: ghostwhite;
}

td.propertyname {
  font-weight:bold;
}

td.nowrap {
  white-space:nowrap;
}

table.sessiontable {
  border-collapse:collapse;
  border: 0px;
  text-align: left;
  margin: 0;
  padding: 0;
  #background-color: pink;
}

td.sessiontable_label {
  border: 0px;
  #background-color: yellow;
  padding: 10px 10px 0px 0px;
  vertical-align: bottom;
}

td.sessiontable {
  border: 0px;
  #background-color: pink;
  padding: 0px 10px 10px 0px;
  vertical-align: bottom;
}

div.in_a_form {
  border: 0px;
  padding: 10px 10px 0px 0px;
  vertical-align: bottom;
}

.alignright {
  text-align: right;
  font-size: smaller;
}

div.outlined {
  border: 2px solid lavender;
  background-color: #D8E6D8;
  margin: 1px;
  padding: 6px;
}

div.outlined > p {
  margin: 0px 0px;
  padding: 3px 0px;
}

div.lessoutlined {
  border: 1px solid lavender;
  background-color: ghostwhite;
  margin: 0px 0px;
  padding: 5px 10px;
  font-family: Sans-serif;
  font-size: 100%;
}

div.lessoutlined > p {
  margin: 0px 0px;
  padding: 3px 0px;
}

div > i {
  color:brown;
  font-size:smaller;
}

td > i {
  color:brown;
  font-size:smaller;
}

div > a {
  font-size: smaller;
}

div.important {
  color:brown;
  font-weight:bold;
}

div.flashy  {
  color:red;
  font-weight:bold;
  font-size: larger;
}

div.flashy > a {
  color:red;
  font-weight:bold;
  font-size: larger;
}


pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;   
}

div.menu {
}

div.title {
}

div.submenu a {
	font-size: 90%;
	text-decoration: none;
  padding: 1px 6px;
	margin: 3px 3px 0 0;
}


div.review {
  border: 1px solid lavender;
  margin: 5px 20px;
  padding: 5px 20px;
}

div.reviewcontenttitle {
  margin: 10px 0px;
  width: 100%;
}

div.comment {
  border: 1px solid lavender;
  margin: 5px 20px;
  padding: 5px 20px;
}

hr {
  height:1px;
  background-color:lavender;
  border: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}


td.ProgramMatrix {
  text-align:center;
  vertical-align:top;
  padding: 0px;
  margin: 0px;
} 
td.ProgramMatrix > p {
  background-color: light-grey;
  padding: 0px;
  margin: 0px;
}
td.ProgramMatrix  a {
  color: black;
  text-decoration: none;
}
td.ProgramMatrix  a:hover {
  color: purple;
}

.technology { background-color:#6B0; } 
.customer { background-color:#3CF; } 
.cases { background-color:#FF9; } 
.team { background-color:#F8A; } 
.process { background-color:#FFA822; } 

p.ProgramMatrix_presenters {
 font-style:italic; 
 font-size:smaller;
}
a.ProgramMatrix_edit_link {
 font-size:smaller;
 float:right;
}

input.collapsebutton {
  height:15px;
  width:15px;
  font-size:15px;
  padding:0px;
  border:0px;
  background-color:#F3F3F3;
  box-shadow: 2px 1px 2px #888888;
}
input.collapsebutton:hover { 
	background: lavender;
}


input.adddelete_button {
  height:15px;
  width:15px;
  font-size:15px;
  padding:0px;
  border:0px;
  background-color:#F3F3F3;
  box-shadow: 2px 1px 2px #888888;
}
input.adddelete_button:hover { 
	background: lavender;
}

