
body.PgmCommitteeCard {
}
h1.PgmCommitteeCard {
  margin:20px;
  text-align:left;
}
h2.PgmCommitteeCard {
  margin-left:20px;
  margin-top:0px;
  margin-bottom:0px;
  text-align:left;
}

div.PgmCommitteeCard_numbers {
  float:right;
}
div.PgmCommitteeCard_session {
  height:100%;
  width:100%;
  float:left;
  positioning:relative;
  top:-50px;
  /*background-color:pink;*/
}
div.PgmCommitteeCard_properties {
  text-align:left;
  margin:20px;
  /*background-color:red;*/
}
div.PgmCommitteeCard_summary {
  text-align:left;
  margin:20px;
  font-size:120%;
  height:100%;
  /*background-color:green;*/
}

table.PgmCommitteeCard_numbers {
  font-size:150%;
}
table.PgmCommitteeCard_session {
  height:100%;
  width:100%;
}
table.PgmCommitteeCard_properties {
  /*background-color:lightgrey;*/
  font-size:150%;
}
tr.PgmCommitteeCard_maxheight {
}
td.PgmCommitteeCard_propertiestitle {
  width:220px;
  /*background-color:blue;*/
}
td.PgmCommitteeCard_id {
  font-size:250%;
  /*background-color:lightgrey;*/
  /*border-width:1px;
  border-style:solid;
  border-color:lightgrey;*/
  vertical-align:top;
}

@media screen {
  div.PgmCommitteeCard_pagebreak {
    display: none;
  }
}

@media print {
  div.PgmCommitteeCard_pagebreak {
    display: block;
    page-break-before: always;
  }
}


