Rules of the game: 
<ul>
<li> you can cast one vote per session</li>
<li> you can cast 10 votes (or less)</li>
<li> you cannot vote for your own session(s)</li>
<li> the order of the votes is not important</li>
<li> your votes will not be visible to the other submitters, only to the program committee</li>
</ul>

