<%= render 'votes/index', :votes => @votes  %>

<% if PropileConfig.is_set( "voting_active") %> 
  <%= link_to 'Export CSV', csv_votes_path %>
<% end %> 

<p class="alignright"><a href="mailto:sessions@xpday.net">problems or questions</a> </p> 

