<!DOCTYPE html>
<html>
<head>
  <title>Propile</title>
  <%= stylesheet_link_tag    "pcm_cards", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
